/cache/
/cache/dashboard
/cache/*
node_modules/*
cfg/database.php
/sessions/
/sessions/*
.idea/*
/backups/*
/documents/*
/temp_import/
/temp_import/*
/fiscalization/*
/fiscalize_response_json/*
logs.log
errors.log
error_log
/controllers/background/script.log